<table class="major-details">
  <caption>
    <div class="caption-row">
      <h2>Detalhes do Usuário</h2>
      <a href="/user" class="btn-back" title="Voltar para a lista"><i class="fas fa-arrow-left"></i></a>
    </div>
  </caption>
  <tr>
    <th>ID</th>
    <td>{{user.id}}</td>
  </tr>
  <tr>
    <th>Nome</th>
    <td>{{user.name}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{user.email}}</td>
  </tr>
  <tr>
    <th>Curso</th>
    <td>{{major.name}}</td>
  </tr>
  <tr>
    <th>Código do Curso</th>
    <td>{{major.code}}</td>
  </tr>
  <tr>
    <th>Descrição do Curso</th>
    <td>{{major.description}}</td>
  </tr>
  <tr>
    <th>Criado em</th>
    <td>{{user.createdAt}}</td>
  </tr>
  <tr>
    <th>Atualizado em</th>
    <td>{{user.updatedAt}}</td>
  </tr>
</table>