<table class="major-details">
    <caption>
        <div class="caption-row">
            <h2>Detalhes do Major</h2>
            <a href="/major" class="btn-back" title="Voltar para a lista"><i class="fas fa-arrow-left"></i></a>
        </div>
    </caption>
  <tr>
    <th>ID</th>
    <td>{{major.id}}</td>
  </tr>
  <tr>
    <th>Nome</th>
    <td>{{major.name}}</td>
  </tr>
  <tr>
    <th>Código</th>
    <td>{{major.code}}</td>
  </tr>
  <tr>
    <th>Descrição</th>
    <td>{{major.description}}</td>
  </tr>
  <tr>
    <th>Criado em</th>
    <td>{{major.createdAt}}</td>
  </tr>
  <tr>
    <th>Atualizado em</th>
    <td>{{major.updatedAt}}</td>
  </tr>
</table>